.big-navigation-gap {
  margin-top: 7rem;
}

.route-search-results__route-information {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 3.5rem;
  background-color: #44DA9B;
  position: fixed;
  top: 3.5rem;
  width: 100%;
  z-index: 101;
}

.route-search-results__item {
  width: 100%;
}

.route-search-results__item-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
  cursor: pointer;
}

.route-search-results__item-icon {
}

.route-search-results__item-co2 {
}

.route-search-results__item-time {
}

.route-search-results__item-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}


