.big-navigation-gap {
  margin-top: 8.5rem;
}

.route-search-results__route-information {
  display: flex;
  align-items: center;
  background-color: var(--secondary);
  color: white;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
  position: fixed;
  padding: 1rem;
  top: 3.5rem;
  left: 0;
  width: 100%;
  z-index: 100;
}

.route-search-results__locations {
  flex-grow: 1;
  margin: 0 .5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.route-search-results__route-visualisation {
  position: relative;
}

.route-search-results__route-visualisation-line {
  left: 0.45rem;
  top: 1.2rem;
  height: .5rem;
  position: absolute;
  border: 0.0625rem dashed white;
}

.route-search-results__btn-edit {
  width: 3rem;
  text-align: center;
}

.route-search-results__nowrap-hidden {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.route-search-results__item {
  width: 100%;
}

.route-search-results__item-header {
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-template-rows: 1fr;
  align-items: center;
  text-align: center;
  padding: .75rem 1.25rem;
}

.route-search-results__column-name {
  font-size: .7rem;
  color: darkgrey;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.route-search-results__meta {
  display: flex;
  align-items: center;
}

.route-search-results__meta-icon {
  margin-right: .5rem;
}

.route-search-results__meta-icon--duration {
  margin-top: .125rem;
}

.route-search-results__meta-km-value {
  text-align: left;
}

.route-search-results__co2-numbers {
  color: var(--secondary);
}

.route-search-results__co2-numbers--darkred {
  color: darkred;
}

.route-search-results__location-secondary {
  opacity: .7;
  font-size: .8rem;
}

.route-search-results__green {
  color: var(--primary);
}

.route-search-results__item-content {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: .5rem;
  align-items: center;
  text-align: center;
}

::ng-deep .card-header {
  padding: 0;
}


