.route-search-results__item {
  width: 100%;
}

.route-search-results__item-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}

.route-search-results__item-icon {
}

.route-search-results__item-co2 {
}

.route-search-results__item-time {
}

.route-search-results__item-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 5rem;
}


