.manage-data {
  padding: 0.5rem;
}

.manage-data__info {
  padding-bottom: 0.5rem;
}

.manage-data__content {
  position: absolute;
  width: 100%;
  bottom: 6rem;
  left: 0;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.manage-data__import-data {
  margin-top: 1rem;
}
