.pie-chart-CO₂{
  margin: 5%;
  width: 90%;    
  text-align: center;
}

.co2-alert{      
  text-align: left;
}

.co2-chart-description{      
  text-align: left;
}

.details-btn{ 
  color:#fff;  
  background-color: #009933;
  border-color: #009933;
  border-radius: 8px;
  box-shadow: none !important;
}
