<div class="initial-setup-tips-android">
  <app-close-icon></app-close-icon>
  <div class="initial-setup-tips-android"></div>
  <h5 class="initial-setup-tips-android__text">
    You can add this app to your homescreen. Press the button on the bottom of this page that looks like this:
  </h5>
  <div class="initial-setup-tips-android__icon"> 
    <img src="assets/share_android.png" class="initial-setup-tips-android__image">
  </div>
  <h5 class="initial-setup-tips-android__text">
    Now scroll down a litte bit and press the "to homescreen" button that is labeled with this:
  </h5>
  <div class="initial-setup-tips-android__icon">
    <img src="assets/add_android.png" class="initial-setup-tips-android__image-small">
  </div>
</div>
<app-initial-setup-nav class="parent__init-nav" [dotsActive]="4" [nextPage]="'/'" buttonName="Become a Green Traveller!"></app-initial-setup-nav>
