.initial-setup-tips-android {
  position: absolute;
  background-color: lightgreen;
  padding-top: 5.5rem;
}

.initial-setup-tips-android__action {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  background-color: lightgreen;
}
.initial-setup-tips-android__dots-outter {
  background-color: lightgreen;
  position: fixed;
  right:0;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 3rem;
}

.initial-setup-tips-android__dot-active {
  height: 10px;
  width: 10px;
  margin: 0.5rem;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

.initial-setup-tips-android__dot {
  height: 10px;
  width: 10px;
  margin: 0.5rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.initial-setup-tips-android__icon {
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  padding-top: 0rem;
}

.initial-setup-tips-android__image {
  border-radius: 10px;
  width: 90%;
} 

.initial-setup-tips-android__image-small {
  border-radius: 10px;
  width: 50%;
}

.initial-setup-tips-android__text {
  margin: 1rem;
}
  