.initial-setup-tips-android {
  background-color: lightgreen;
  padding-top: 5.5rem;
}

.initial-setup-tips-android__action {
  position: fixed;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
}

.initial-setup-tips-android__icon {
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  padding-top: 0rem;
}
  
.initial-setup-tips-android__text {
  margin: 1rem;
}
  