.initial-setup-info {
  position: absolute;
  background-color: lightgreen;
  height: 100%;
  padding: 1rem;
}

.initial-setup-info__text {
  margin: 1rem 1rem 5rem;
  background-color:lightgreen;
}

.initial-setup-info__text-headline {
  text-align: center; 
  margin: 4rem;
  text-decoration: underline; 
}
