<app-close-icon></app-close-icon>
<div class="navigation-gap">
  <div class="initial-setup-info__text">
    <h4 class="initial-setup-info__text-headline">
      Welcome to Green Traveller!
    </h4>
    We are here to help you have an oversight on what you're travelling with and how much CO2 is produced by that. 
    With this application you can set your own goals or limits on how much you want to produce per month und keep track of how much you have already used.
    We want to give people the opportunity to make an impact with just sometimes thinking to take a different way of transportation to save some CO2. Data only saved locally on device.
    Click on "Become a Green Traveller" and you will be guided through a small explanation setup...
  </div>
  <div class="initial-setup-info__action">
    <button class="btn btn-primary btn-block" type="button" [routerLink]="['/initial-setup-name']">Become a Green Traveller!</button>
  </div>
</div>