.initial-setup-info {
  width: 100%;
  height: 500px;
  padding: 1rem;
}

.initial-setup-info__action {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  background-color: white;
}

.initial-setup-info__text {
  margin-top: 5rem;
  margin-left: 1rem;
  margin-right: 1rem;  
  background-color:lightgreen;
  border-radius: 5px;
}

.initial-setup-info__text-headline {
  text-align: center; 
  margin: 3rem; 
}
