<app-nav-bar title="Edit Vehicle"></app-nav-bar>

<div class="edit-vehicle navigation-gap">
  <div class="edit-vehicle__input">
    <label for="vehicleName" class="edit-vehicle__input-title">Name or License plate</label>
    <input type="text" [(ngModel)]="vehicle.name" id="vehicleName" class="form-control">
  </div>
  <div class="edit-vehicle__input">
    <div class="edit-vehicle__input-title">Icon</div>
    <div class="edit-vehicle__icon-list">
      <app-vehicle-icon
        vehicle="car"
        class="edit-vehicle__icon-list-icon"
        [active]="vehicle.type === 'car'"
        (click)="vehicle.type = 'car'"
      ></app-vehicle-icon>
      <app-vehicle-icon
        vehicle="motorcycle"
        class="edit-vehicle__icon-list-icon"
        [active]="vehicle.type === 'motorcycle'"
        (click)="vehicle.type = 'motorcycle'"
      ></app-vehicle-icon>
    </div>
  </div>
  <div class="edit-vehicle__input">
    <label class="edit-vehicle__input-title" for="vehicleCo2">Carbon Emissions</label>
    <div class="input-group goals__custom-input-group">
      <input type="number" [(ngModel)]="vehicle.co2" id="vehicleCo2" class="form-control edit-vehicle__carbon-input" #carbonInput (change)="handleCarbonInputChange()" min="1">
      <div class="input-group-append" (click)="focusOnCarbonInput()">
        <span class="input-group-text">g/km</span>
      </div>
    </div>
    <small>Unsure about your vehicle? Lookup your vehicle <a href="https://www.which.co.uk/reviews/new-and-used-cars/article/car-emissions/car-co2-emissions-aRVNW9t0zLu6#headline_free-car-co2-tool-check-by-make-and-model" target="_blank">here</a>!</small>
  </div>
  <div>
    <button class="btn btn-primary btn-block edit-vehicle__action" (click)="handleSaveClick()">Save</button>
    <button class="btn btn-outline-primary btn-block" (click)="handleCancelClick()">Cancel</button>
  </div>
</div>
