.previous-routes__header {
  display: flex;
  color: black;
  text-decoration: none;
  text-align: left;
  width: 100%;
}

.previous-routes__header-meta {
  text-align: center;
  margin-right: 1rem;
}

.previous-routes__header-locations {
  position: relative;
}

.previous-routes__header-location-wrapper {
  display: flex;
}

.previous-routes__header-location {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}

.previous-routes__header-location-line {
  left: 0.475rem;
  top: 1.25rem;
  position: absolute;
  border-left: 0.125rem solid black;
}

.table-margin__header {
  margin-bottom: 0;
}

.previous-routes__action-buttons {
  display: flex;
  justify-content: space-between;
}

.previous-routes__route-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.previous-routes__route-info-details {
  display: flex;
  align-items: center;
}

.previous-routes__route-info-details-icon {
  margin-right: 0.5rem;
}

.previous-routes__route-info-details-input {
  width: 5rem;
}

.previous-routes__modal-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.previous-routes__modal-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dfe2e1;
  padding: 0.5rem 0;
  cursor: pointer;
}

.previous-routes__modal-item:last-child {
  border-bottom: 0;
}

.previous-routes__modal-icon {
  margin-right: 0.5rem;
}
