.table-margin__header {
  margin-bottom: 0;
}

.previous-routes__action-buttons {
  display: flex;
  justify-content: space-between;
}

.previous-routes__route-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.5rem;
}

.previous-routes__route-info-details {
  display: flex;
  align-items: center;
}

.previous-routes__route-info-details-icon {
  margin-right: 0.5rem;
}

.previous-routes__route-info-details-input {
  width: 5rem;
}

.previous-routes__modal-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.previous-routes__modal-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 0.5rem 0;
  cursor: pointer;
}

.previous-routes__modal-item:last-child {
  border-bottom: 0;
}

.previous-routes__modal-icon {
  margin-right: 0.5rem;
}