.previous-routes__date {
  padding: 0.5rem;
}

.previous-routes__header {
  display: flex;
  color: black;
  text-decoration: none;
  text-align: left;
  width: 100%;
}

.previous-routes__header-meta {
  text-align: center;
  margin-right: 1rem;
  flex-basis: 4rem;
  flex-shrink: 0;
}

.previous-routes__header-locations {
  position: relative;
}

.previous-routes__header-location-wrapper {
  display: flex;
}

.previous-routes__header-location {
  display: flex;
  flex-direction: column;
  padding-left: 0.5rem;
}

.previous-routes__header-location-line {
  left: 0.45rem;
  top: 1.2rem;
  position: absolute;
  border: 0.0625rem dashed black;
}

.table-margin__header {
  margin-bottom: 0;
}

.previous-routes__action-buttons {
  display: flex;
  justify-content: space-between;
}

.previous-routes__route-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.previous-routes__route-info-details {
  display: flex;
  align-items: center;
}

.previous-routes__vehicle-button {
  max-width: 12.5rem;
  display: flex;
  flex-wrap: nowrap;
}

.previous-routes__route-info-details-icon {
  margin-right: 0.5rem;
}

.previous-routes__route-info-details-vehicle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.previous-routes__route-info-details-input {
  text-align: center;
}

.previous-routes__passengers-input-group {
  width: 8rem;
}

.previous-routes__modal-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.previous-routes__modal-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #dfe2e1;
  padding: 0.5rem;
  cursor: pointer;
  max-width: 100%;
}

.previous-routes__modal-item:last-child {
  border-bottom: 0;
}

.previous-routes__modal-icon {
  margin-right: 0.5rem;
}

.previous-routes__modal-vehicle-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.previous-routes__empty {
  padding: 3rem 0.5rem;
  text-align: center;
}

.previous-routes__empty-text {
  margin-top: 1rem;
}

.previous-routes__empty-link {
  color: var(--primary);
  cursor: pointer;
}

.previous-routes__empty-link:hover {
  text-decoration: underline;
}
