<div class="initial-setup-desktop">
  <div class="initial-setup-desktop__logo">
    <img alt="Green Traveller Logo" src="assets\icons\android-chrome-512x512.png" class="initial-setup-desktop__image">
    <div class="initial-setup-desktop__headline">
      Green Traveller
    </div>  
    <div class="initial-setup-desktop__text">
      Hi, this website is optimized for mobile usage. Scan the QR Code with your phone and use the website there!
    </div>
    <img alt="Green Traveller QR" src="assets/qr.png" class="initial-setup-desktop__image">
  </div>
  <div class="initial-setup-desktop__text">
    If you want you can also continue here, but the user experience won't be that good!
  </div>
</div>  
<div class="initial-setup-desktop__btn">
  <button class="btn btn-sm btn-primary btn-block" type="button" [routerLink]="'/setup/name'">Continue</button>
</div>