.initial-setup-desktop {
  position: absolute;
  background-color: var(--secondary);
  height: 100%;
  width: 100%;
  color: white;
}

.initial-setup-desktop__btn {
  position: fixed;
  bottom: 0;
  left: 0;
  size: 0rem;
  width: 100%;
  padding: 1rem;
}
.initial-setup-desktop__headline {
  font-size: 1.5em;
  margin-top: 0.5rem;
}

.initial-setup-desktop__image {
  border-radius: 3px;
  min-width: 200px;
  width: 10%;
}

.initial-setup-desktop__logo {
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

.initial-setup-desktop__qr {
  position: relative;
  justify-content: center;
  text-align: center;
}

.initial-setup-desktop__text {
  padding: 3rem 1rem 3rem;
  text-align: center;
  font-size: 1em;
}
