<div class="co2-bar-chart">
  <h4>CO₂ Emissions</h4>
  <h5>Last 6 months</h5>
  <div class="co2-bar-chart-chart">
    <app-bar-chart #barChart [barChartLabels]="co2BarChartLabels" [barChartData]="co2BarChartData"
    [barChartColors]="co2BarChartColors">
    </app-bar-chart>  
  </div>
  <div *ngIf="!showDetails; else viewDetails">
    <button class="btn btn-outline-primary btn-block detail-btn" (click)="showDetails=true">
      View Details
    </button>
  </div>
  <ng-template #viewDetails>
    <div class="co2-chart-description">
      <p class="small">This chart shows your tracked CO₂ emissions from transport over the last 6 months including the current month. 
        In order to ignore the distortion caused by the varying length of months, we are calculating the average per day for each month 
        to make the data better comparable. The numbers on the y-axis thus represent average kg per day. 
      </p>
    </div>
    <button class="btn btn-outline-primary btn-block detail-btn" (click)="showDetails=false">
      Hide Details
    </button>
  </ng-template>
</div>
