<app-nav-bar title="Preferences"></app-nav-bar>
<div class="preferences__list navigation-gap">
  <div routerLink="/preferences/co2-goals" class="preferences__item">
    <div class="preferences__icon"><fa-icon [icon]="iconS.getIcon('user')"></fa-icon></div> Customisation
  </div>
  <div routerLink="/preferences/vehicles" class="preferences__item">
    <div class="preferences__icon"><fa-icon [icon]="iconS.getIcon('car')"></fa-icon></div> Vehicles
  </div>
  <div routerLink="/preferences/manage-data" class="preferences__item">
    <div class="preferences__icon"><fa-icon [icon]="iconS.getIcon('data')"></fa-icon></div> Manage Data
  </div>
  <div routerLink="/setup/name" class="preferences__item">
    <div class="preferences__icon"><fa-icon [icon]="iconS.getIcon('redo')"></fa-icon></div> Initial Setup
  </div>
  <a href="https://green-traveller.github.io/#faq" class="preferences__item" target="_blank">
    <div class="preferences__icon"><fa-icon [icon]="iconS.getIcon('question')"></fa-icon></div> FAQ
  </a>
  <div routerLink="/about" class="preferences__item">
    <div class="preferences__icon"><fa-icon [icon]="iconS.getIcon('info')"></fa-icon></div> About
  </div>
</div>
