.pie-chart-km{
  margin: 5%;
  width: 90%;      
  text-align: center;
}

.km-chart-description{      
  text-align: left;
  margin-bottom: 1rem;
}

.detail-btn{
  margin-top: 0.75rem;
  margin-bottom: 3.5rem;
}