<div class="pie-chart-km">
  <h4>Means of Transport</h4>  
  <h6>Distance in km</h6>
    <div *ngIf="kmSum > 0; else emptyPieChart">
      <app-pie-chart [pieChartLabels]="kmPieChartLabels" [pieChartData]="kmPieChartData"
        [pieChartColors]="kmPieChartColors" [pieChartOptions]="kmPieChartOptions">
      </app-pie-chart>
    </div>
    <ng-template #emptyPieChart>
      <app-pie-chart #kmPieChart [pieChartLabels]="emptyPieChartLabels" [pieChartData]="emptyPieChartData"
        [pieChartColors]="emptyPieChartColors" [pieChartOptions]="kmPieChartOptions">
      </app-pie-chart>
    </ng-template>
  <div *ngIf="!showDetails; else viewDetails">
    <button class="btn btn-outline-primary btn-block detail-btn" (click)="showDetails=true">
      View Details
    </button>
  </div>
  <ng-template #viewDetails>
    <div class="km-chart-description">
      <p class="small">This chart shows which means of transport you have been using over the last 30 days including today, measured in km. 
        The full pie represents all tracked routes of that period.
      </p>
    </div>
    <button class="btn btn-outline-primary btn-block detail-btn" (click)="showDetails=false">
      Hide Details
    </button>
  </ng-template>  
</div>
