<nav class="nav-bar">
  <div class="nav-bar__item"><button class="btn nav-bar__back-button" (click)="back()" [class.nav-bar__back-button--hidden]="hideBackButton"><fa-icon [icon]="iconService.getIcon('back')"></fa-icon></button> </div>
  <div class="nav-bar__item nav-bar__item--title">{{ title }}</div>
  <div class="nav-bar__item">
    <div ngbDropdown class="d-inline-block navbar-light">
      <button id="dropdownBasic1" class="navbar-toggler" ngbDropdownToggle>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div ngbDropdownMenu>
        <button class="nav-bar__menu-item" (click)="navigate('/')" ngbDropdownItem>
          <fa-icon [icon]="iconService.getIcon('search')"></fa-icon>
          <div class="nav-bar__menu-item-text">Search</div>
        </button>
        <button class="nav-bar__menu-item" (click)="navigate('/balance')" ngbDropdownItem>
          <fa-icon [icon]="iconService.getIcon('statistics')"></fa-icon>
          <div class="nav-bar__menu-item-text">Balance</div>
        </button>
        <button class="nav-bar__menu-item" (click)="navigate('/previous-routes')" ngbDropdownItem>
          <fa-icon [icon]="iconService.getIcon('distance')"></fa-icon>
          <div class="nav-bar__menu-item-text">Routes</div>
        </button>
        <button class="nav-bar__menu-item" (click)="navigate('/preferences')" ngbDropdownItem>
          <fa-icon [icon]="iconService.getIcon('preferences')"></fa-icon>
          <div class="nav-bar__menu-item-text">Preferences</div>
        </button>
      </div>
    </div>
  </div>
</nav>
