.nav-bar {
  align-items: center;
  background-color: var(--primary);
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
  display: flex;
  justify-content: space-between;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 102;
}

.nav-bar__item {
  padding: 0.5rem;
}

.nav-bar__item--title {
  flex-shrink: 1;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav-bar__back-button {
  color: rgba(0,0,0,.5);
  width: 3.375rem;
}

.nav-bar__back-button--hidden {
  opacity: 0;
  cursor: default !important;
}

.nav-bar__menu-item {
  font-size: 1.2rem;
  padding-left: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
}

.nav-bar__menu-item-text {
  font-size: 1.2rem;
  padding-left: 0.5rem;
}

.dropdown-toggle::after {
  display: none;
}
