<nav class="nav-bar">
  <div class="nav-bar__item"><button class="btn nav-bar__back-button" (click)="back()" [class.nav-bar__back-button--hidden]="hideBackButton"><fa-icon [icon]="icons.leftArrow"></fa-icon></button> </div>
  <div class="nav-bar__item"><span class="nav-bar__title">{{ title }}</span></div>
  <div class="nav-bar__item">
    <div ngbDropdown class="d-inline-block navbar-light">
      <button id="dropdownBasic1" class="navbar-toggler" ngbDropdownToggle>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div ngbDropdownMenu>
        <button class="nav-bar__menu-item" (click)="navigate('/')" ngbDropdownItem>Search</button>
        <button class="nav-bar__menu-item" (click)="navigate('/preferences')" ngbDropdownItem>Preferences</button>
        <button class="nav-bar__menu-item" (click)="navigate('/previous-routes')" ngbDropdownItem>Previous Routes</button>
      </div>
    </div>
  </div>
</nav>
