<nav class="nav-bar">
  <div class="nav-bar__item"><button class="btn"><</button> </div>
  <div class="nav-bar__item">{{title}}</div>
  <div class="nav-bar__item">
    <div ngbDropdown class="d-inline-block navbar-light">
      <button id="dropdownBasic1" class="navbar-toggler" ngbDropdownToggle>
        <span class="navbar-toggler-icon"></span>
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a routerLink="/" ngbDropdownItem>Search</a>
        <a routerLink="/nav" ngbDropdownItem>Nav</a>
        <a routerLink="/preferences" ngbDropdownItem>Preferences</a>
        <a routerLink="/results" ngbDropdownItem>Results</a>
        <button ngbDropdownItem>Action - 1</button>
        <button ngbDropdownItem>Another Action</button>
        <button ngbDropdownItem>Something else is here</button>
      </div>
    </div>
  </div>
</nav>
