.vehicles__section {
  margin-bottom: 1rem;
}

.vehicles__subtitle {
  padding: 0.5rem;
  border-bottom: 1px solid #dfe2e1;
}

.vehicles__list-item {
  border-bottom: 1px solid #dfe2e1;
  display: flex;
  padding: 0.5rem;
}

.vehicles__list-item--default {
  align-items: center;
}

.vehicles__item-details {
  margin-left: 1rem;
  margin-top: 0.25rem;
  max-width: 12rem;
}

.vehicles__item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vehicles__list-item--default > .vehicles__item-details {
  margin-top: unset;
}

.vehicles__item-actions {
  flex-grow: 2;
  text-align: right;
}

.vehicles__item-button {
  margin-left: 0.5rem;
}

.vehicles__action-button {
  margin: 0.5rem;
}

.vehicles__item-switch {
  z-index: -1;
}
