.initial-setup-name {
  position: absolute;
  background-color: lightgreen;
  height: 100%;
  z-index: -2;
}

.initial-setup-name__input {
  text-decoration: underline;
}

.initial-setup-name__logo {
  position: relative;
  justify-content: center;
  text-align: center;
  padding: 5rem;
  z-index: -1;
}

.initial-setup-name__text {
  padding: 1rem;
}
