.personal-goal{    
  width: 90%;     
  margin-left: 5%;
  margin-right: 5%;  
  margin-bottom: 1.25rem;   
  text-align: center;
}

.personal-goal{   
  margin-top: 5rem; 
}

.personal-goal-heading{   
  margin-bottom: 1.25rem; 
}

.progressbar-personal-goal{
  margin-bottom: 1.5rem;     
}

::ng-deep .progress {
  background-color: #26c281d8 !important;
}

::ng-deep .bg-danger {
  background-color: #ff4233d8 !important;
}

.personal-goal-alert{
  text-align: left;  
}

.slide:focus {
  outline: none;
}
