<app-nav-bar title="Personal CO₂-Balance"></app-nav-bar>

<div class="navigation-gap">
  
  <div class="progressbar-personal-goal">
    <h4>Personal Goal</h4>
    <p>
      <ngb-progressbar [showValue]="true" type="danger" [value]="currentCo2Sum" [max]="personalGoal"></ngb-progressbar>
    </p>
    <div class="personal-goal-alert" *ngIf="!personalGoalAlertClosed">
      <ngb-alert [dismissible]="true" [type]="personalGoalAlert.type" (close)="personalGoalAlertClosed=true">
        {{personalGoalAlert.message}}
      </ngb-alert>
    </div>
  </div>

  <hr>
  <!-- Section I Co2-Emissions (Pie Chart)  -->
  <app-co2-pie-chart></app-co2-pie-chart>

  <hr>

  <!-- Section II Means of transport by km travelled (Pie Chart) -->
  <div class="pie-chart-km">
    <h4>Means of Transport (km)</h4>
    <app-pie-chart [pieChartLabels]="distancePieChartLabels" [pieChartData]="distancePieChartData"
      [pieChartColors]="distancePieChartColors"></app-pie-chart>
  </div>

  <hr>

  <!-- Section III Co2-Emissions over time (Bar Chart) -->
  <div class="bar-chart-CO₂">
    <h4>CO₂-Emissions (avg kg/day)</h4>
    <h5>Last 6 months</h5>
    <app-bar-chart></app-bar-chart>
  </div>
</div>