.personal-goal-alert{
  text-align: left;
}

.progressbar-personal-goal{
    margin: 5%;
    width: 90%;      
    text-align: center;
}

::ng-deep .progress {
  background-color: green !important;
}

.pie-chart-km{
  margin: 5%;
  width: 90%;      
  text-align: center;
}
