.pie-chart-CO₂{
    margin: 0.5rem;
    width: 100%;    
    text-align: center;
}

.pie-chart-km{
    margin: 0.5rem;
    width: 100%;      
    text-align: center;
}

.progressbar-personal-goal{
    margin: 0.5rem;
    width: 100%;      
    text-align: center;
}
