<app-nav-bar title="Personal CO₂-Balance"></app-nav-bar>

<div class="navigation-gap">
  
  <div class="progressbar-personal-goal">
    <h4>Personal Goal</h4>
    <p>
      <ngb-progressbar type="danger" [value]="currentCo2Sum" [max]="personalGoal"></ngb-progressbar>
    </p>
    <div class="personal-goal-alert" *ngIf="!personalGoalAlertClosed">
      <ngb-alert [dismissible]="true" [type]="personalGoalAlert.type" (close)="personalGoalAlertClosed=true">
        {{personalGoalAlert.message}}
      </ngb-alert>
    </div>
  </div>

  <hr>
  <!-- Section I Co2-Emissions (Pie Chart)  -->
  <app-co2-pie-chart></app-co2-pie-chart>

  <hr>

  <!-- Section II Means of transport by km travelled (Pie Chart) -->
  <app-km-pie-chart></app-km-pie-chart>

  <hr>

  <!-- Section III Co2-Emissions over time (Bar Chart) -->
  <app-co2-bar-chart></app-co2-bar-chart>

</div>