.vehicle-icon {
  border: 1px solid #dfe2e1;
  border-radius: 1rem;
  padding: 0.25rem 0.375rem;
  text-align: center;
  min-width: 2.125rem;
}

.vehicle-icon--active {
  background-color: #5DFFA6;
  border-color: #5DFFA6;
}

.vehicle-icon--whiteBorder {
  border-color: white;
}
