/* You can add global styles to this file, and also import other style files */

$primary: #26C281;

@import "../node_modules/bootstrap/scss/bootstrap";

.navigation-gap {
  margin-top: 3.5rem;
}

.parent__init-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.previous-routes__card > .card-header {
  padding: 0;
}

.previous-routes__card > .card-header > .btn {
  width: 100%;
}

.previous-routes__card > .card-header > .btn:hover,
.previous-routes__card > .card-header > .btn:focus {
  text-decoration: none;
}

.previous-routes__card > * > .card-body {
  padding: 0.5rem 1rem 0.5rem;
}
