<app-nav-bar title="Search Routes"></app-nav-bar>

<div class="search-route navigation-gap">
  <div class="form-group">
    <label for="inputFrom">From: </label>
    <input class="form-control" id="inputFrom" type="text" placeholder="From" >
  </div>

  <div class="form-group">
    <label for="inputTo">To: </label>
    <input class="form-control" id="inputTo" type="text" placeholder="To">
  </div>

  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="timeMode">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="now">Leave now
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="departure">Depart at
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="arrival">Arrive at
    </label>
  </div>

  <div class="search-route__time-select" *ngIf="timeMode !== 'now'">
    <input type="time" class="form-control" [value]="currentTimeString()" (change)="handleTimeChange()" #timeInput>
    <input type="date" class="form-control" [value]="currentDateString()" (change)="handleDateChange()" #dateInput>
  </div>

  <div class="search-route__action">
    <button class="btn btn-primary btn-block" type="button">Search</button>
  </div>
</div>
