<app-nav-bar title="Search Routes"></app-nav-bar>

<div class="search-route navigation-gap">

  <div class="search-route__statistics" routerLink="/balance">
    <fa-icon [icon]="iconService.getIcon('statistics')"></fa-icon> View your Balance Sheet.
  </div>

  <div class="form-group">
    <label for="inputFrom">From: </label>
    <input class="form-control" id="inputFrom" type="text" placeholder="Any address or location" (keydown)="handleFromInputKeypress()" (blur)="handleFromInputKeypress()" #fromInput>
  </div>

  <div class="form-group">
    <label for="inputTo">To: </label>
    <input class="form-control" id="inputTo" type="text" placeholder="Any address or location" (keydown)="handleToInputKeypress()" (blur)="handleToInputKeypress()" #toInput>
  </div>

  <div class="form-group">
    <label for="passengers">Passengers: </label>
    <div class="input-group search-route__passenger-input-group">
      <div class="input-group-prepend">
        <button class="btn btn-primary" (click)="changePassengerAmount(-1)">-</button>
      </div>
      <input class="form-control search-route__passenger-input" id="passengers" type="number" min="1" [(ngModel)]="data.passengerAmount" #passengerInput (change)="handlePassengerAmountChange()">
      <div class="input-group-append">
        <button class="btn btn-primary" (click)="changePassengerAmount(1)">+</button>
      </div>
    </div>
  </div>

  <div class="form-group search-route__timing">
    <label>Timing:</label>
    <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="data.timeMode" (change)="handleTimeModeChange()">
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="now">Leave now
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="departure">Depart at
      </label>
      <label ngbButtonLabel class="btn-primary">
        <input ngbButton type="radio" value="arrival">Arrive at
      </label>
    </div>
  </div>

  <div class="search-route__time-select" *ngIf="data.timeMode !== 'now'">
    <input type="time" class="form-control search-route__time-input" [value]="currentTimeString()" (change)="handleTimeChange()" #timeInput>
    <input type="date" class="form-control search-route__time-input" [value]="currentDateString()" (change)="handleDateChange()" #dateInput>
  </div>
  <small class="search-route__state-info" *ngIf="!mapsSdkLoaded">Maps SDK not loaded.</small>

  <div class="search-route__action">
    <button
      class="btn btn-primary btn-block"
      [class.disabled]="searchNotReady()"
      type="button"
      (click)="searchRoutes()"
    >Search</button>
  </div>

  <div class="search-route__loading" *ngIf="searching">
    <div class="lds-dual-ring"></div>
  </div>
</div>

<!-- Modal dialogue for unconfirmed route -->
<ng-template #stagedRouteModal let-modal>
  <div class="modal-header">
    <span class="modal-title" ngbAutoFocus id="modal-title">Staged Route</span>

  </div>
  <div class="modal-body">
    <div class="search-route__route-information">
      <div>

        <div ngbDropdown >
          <div class="search-route__vehicle-icon" id="dropdownBasic1" ngbDropdownToggle>
            <app-vehicle-icon [vehicle]="routeService.getVehicleIconString(dataService.getStagedRoute())"></app-vehicle-icon>
          </div>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let vehicle of dataService.getActiveVehicles()" id="vehicle.id">
              <app-vehicle-icon [vehicle]="vehicle.type"></app-vehicle-icon>{{ vehicle.name }}
            </button>
          </div>
        </div>
      </div>
      <div class="search-route__route-visualisation">
        <div>
          <fa-icon [icon]="iconService.getIcon('circle')"></fa-icon>
        </div>
        <div>
          <fa-icon [icon]="iconService.getIcon('circle')"></fa-icon>
        </div>
        <div class="search-route__route-visualisation-line"></div>
      </div>
      <div class="search-route__locations">
        <div class="search-route__nowrap-hidden">
          <span>{{ routeService.getMainFrom(dataService.getStagedRoute()) }}</span>
          <span class="search-route__location-secondary">, {{ routeService.getSecondaryFrom(dataService.getStagedRoute()) }}</span>
        </div>
        <div class="search-route__nowrap-hidden">
          <span>{{ routeService.getMainTo(dataService.getStagedRoute()) }}</span>
          <span class="search-route__location-secondary">, {{ routeService.getSecondaryTo(dataService.getStagedRoute()) }}</span>
        </div>
      </div>
    </div>
    <div class="search-route__modal-details">

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-outline-danger" (click)="handleModalButton(false)">
      <fa-icon [icon]="iconService.getIcon('delete')"></fa-icon>
    </button>
    <button class="btn btn-outline-primary" (click)="handleModalButton(true)">
      <fa-icon [icon]="iconService.getIcon('save')"></fa-icon>
    </button>
  </div>
</ng-template>
