<app-close-icon></app-close-icon>
<div class="initial-setup-tips"></div>
<h5 class="initial-setup-tips__text">
  You can add this app to your homescreen. Press the button on the bottom of this page that looks like this:
</h5>
<div class="initial-setup-tips__icon"> 
  <fa-icon [icon]="icons.share"></fa-icon>
</div>
<h5 class="initial-setup-tips__text">
  Now scroll down a litte bit and press the "to homescreen" button that is labeled with this:
</h5>
<div class="initial-setup-tips__icon">
  <fa-icon [icon]="icons.add"></fa-icon>
</div>
<div class="initial-setup-tips__action">
  <button class="btn btn-primary btn-block" type="button" (click)="finishSetup()" [routerLink]="['/']">Become a Green Traveller!</button>
</div>
